        </div>
        <!-- #content -->
    </div>
</div>
<!--/ middle -->

<!-- footer social -->
<div class="footer_social">
    <div class="footer_social_inner">
        <div class="container">
            {{ with .Site.Params.twitter }}
                <a class="social-twitter" data-hint="Twitter" title="Twitter" href="{{ . }}" rel="me">Twitter</a>
            {{ end }}
            {{ with .Site.Params.github }}
                <a class="social-github" data-hint="Github" title="Github" href="{{ . }}" rel="me">Github</a>
            {{ end }}
            {{ with .Site.Params.linkedin }}
                <a class="social-linkedin" data-hint="LinkedIn" title="Linked In" href="{{ . }}" rel="me">Linked In</a>
            {{ end }}
            {{ if .OutputFormats.Get "RSS" }}
                <a href="/feed.xml" class="social-rss">RSS Feed</a>
            {{ end }}
        </div>
    </div>
</div>
<!--/ footer social -->


</div>

<!-- main JS libs  -->
<script src="{{ .Site.BaseURL }}/js/libs/modernizr.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/libs/respond.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<!-- scripts  -->
<script src="{{ .Site.BaseURL }}/js/general.js"></script>
<script src="{{ .Site.BaseURL }}/js/hoverIntent.js"></script>

<script type='text/javascript'>
    $(function () {
        $("pre code").parent().each(function () {
            if (!$(this).hasClass("prettyprint")) {
                $(this).addClass("prettyprint");
                a = true
            }
        });
        //prettyPrint();
    });
</script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=sons-of-obsidian"></script>

{{ template "_internal/google_analytics.html" . }}
<script id="dsq-count-scr" src="//jonathanchannonblog.disqus.com/count.js" async></script>
</body>

</html>