<div class="post-item boxed post-detail" itemtype="https://schema.org/Blog">

    <span class="post-label label-quotes"></span>           
    <div class="post-title">
      <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    </div>
    <div class="post-meta-top">
        <span class="post-date">{{ .PublishDate.Format "January 2, 2006" }}</span> <!-- <span class="post-author">Jonathan Channon</span> -->
        <!-- <span class="link-comments"></span> -->
        <div class="commentcount" data-disqus-url="{{ .Permalink }}"></div>
    </div>
    <!-- <div class="post-image"><img src="images/temp/slider_1_1.jpg" alt=""></div> -->
    <div class="post-descr entry">
        {{ .Summary }}
    </div>

    <p><a class="readmore" href="{{ .Permalink }}">Read more...</a></p>            
    
  </div>